.card {
    position: relative;
    background: #fff;
    box-shadow: @card-shadow;
    margin-bottom: @grid-gutter-width;
    border-radius: 2px;
    
    &.c-dark {
        .card-header > h2 {
            color: #fff;
            
            small {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .plus-card-left {
        &:before {
            position: absolute;
            right: 0;
            top: 30px;
            bottom: 30px;
            content: '';
            height: ~"calc(100% - 60px)";
            width: 2px;
            background-color: #f5f5f5;
        }
    }
    .plus-card-right {
        text-align: center;
        padding: 16px;
    }
}

.card > .actions,
.card-header .actions {
    position: absolute; 
    right: 20px;
    z-index: 2;  
    top: 25px;
}

.card-body {
    &.card-padding {
        padding: 15px;
    }

    &.card-padding-sm {
        padding: 15px;
    }

    & > .btn-float {
        bottom: 30px;
        right: 30px;
    }
}

.card-header {
    position: relative;
    padding: 15px;
    border-radius: 2px 2px 0 0;

    &.sm {
        display: none;
    }

    &.lg {
        display: block;
    }

    @media (max-width: @screen-xs-max) {
        &.sm {
            display: block;
        }

        &.lg {
            display: none;
        }
    }


    &.card-padding-sm {
        padding: 15px;
    }

    h2 {
        margin: 0;
        line-height: 100%;
        font-size: 17px;
        font-weight: 400;
        
        small {
            display: block;
            margin-top: 10px;
            line-height: 100%;
            //line-height: 160%;
            font-size: 12px;
            color: #AEAEAE;

            .pull-right{
                margin-top: 0;
            }
        }
    }
    
    &.ch-dark {
        h2, small {
            color: #fff;
        }
    }

    .btn-float {
        right: 25px;
        bottom: -23px;
        z-index: 1;
    }
    
    &.ch-img {
        .bg-cover-inline();
        
        h2, small {
            color: #fff;
            text-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
        }
    }

    & + .card-body {
        padding-top: 0;
    }
}

.bg-image.contain{
    //.bg-contain();
}

.bg-image.cover{
    //.bg-cover();
}


