.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //.transition(background-color);
    //.transition-duration(300ms);
    //background-color: @palette-White-500;
}

.login {
    margin-top: 106px;
    overflow: auto;
    flex: 1;
    text-align: center;

    display: flex;
    //align-items: center;
    justify-content: center;
    //margin-right:auto;
    //margin-left:auto;


    //.transition(background-color);
    //.transition-duration(300ms);
    //background-color: @palette-White-500;
}

.login-footer {
    p {
        margin-top: 20px;
    }
}

.l-block {
    //background: #fff;
    border-radius: 2px;
    max-width: 350px;
    width: 100%;
    //vertical-align: middle;
    position: relative;
    display: none;
    text-align: left;

    &.l-block-double {
        max-width: 80%;
        //width: initial;
        //padding: 0 40px 30px 40px;
    }

    &.toggled {
        //.animated(fadeInUp, 300ms);
        z-index: 10;
        display: inline-block;
    }
}

.lb-header {
    padding: 25px 30px;
    //color: #fff;
    border-radius: 1px 1px 0 0;
    text-align: center;

    i,
    .avatar-img {
        display: block;
        margin-bottom: 10px;
    }

    .avatar-img {
        border: 2px solid #fff;
    }

    i {
        font-size: 40px;
    }
}

.lb-body {
    padding: 30px 0 30px 0;

    a:hover {
        text-decoration: underline;
    }
}


.thumbnail .caption {
    text-align: center;
}