.ma-header(@color) {
  &#header {
    background-color: @color;
  }

  .smm-alerts > li.active,
  .main-menu li.active > a {
    color: @color;
  }
}

.ma-footer(@color) {
  &#footer {
    background-color: @color;
  }
}

.palette-Plus-Afrik.bg {
  background-color: @mae-darker!important;
}
.palette-Plus-Afrik.text {
  color: @mae-light!important;
}
.palette-Plus-Afrik-Light.bg {
  background-color: @mae-light!important;
}
.palette-Plus-Afrik-Light.text {
  color: @mae-darker!important;
}

[data-ma-footer="plus-afrik"] { .ma-footer(@mae-darker); }
[data-ma-footer="plus-afrik-light"] { .ma-footer(@palette-White-500); }

[data-ma-header="plus-afrik"] { .ma-header(@mae-darker); }
[data-ma-header="plus-afrik-light"] { .ma-header(@palette-White-500); }