.wall-attrs {
    margin-bottom: 0;
}

.wa-stats {
    float: left;
    
    & > span {
        margin-right: -1px;
        padding: 7px 12px;
        border: 1px solid #E0E0E0;
        float: left;
        font-weight: 500;
        
        &.active {
            color: @m-green;
        }
        
        &:first-child {
            border-radius: 2px 0 0 2px;
        }
        
        &:last-child {
            border-radius: 0 2px 2px 0;
        }
        
        & > i { 
            line-height: 100%;
            vertical-align: top;
            position: relative;
            top: 2px;
            font-size: 15px;
            margin-right: 2px;
        }
    }
}

.wa-users {
    float: right;
    padding: 0 !important;
    margin-right: -5px;
    
    & > a {
        display: inline-block;
        margin-left: 2px;
        
        & > img {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            
            &:hover {
                .opacity(0.85);
            }
        }
    }
}

.wcc-inner { 
    border: 1px solid #E4E4E4;
    padding: 10px 15px;
    resize: none;
    border-radius: 2px;
    background: #fff;
    color: #9A9A9A;
    cursor: pointer;
} 

.wcci-text {
    border: 0;
    display: block;
    width: 100%;
    resize: none;
    padding: 0;
}

.wall-comment-list {
    padding: 20px;
    background: @app-gray;
    
    .media {
        position: relative;
        
        &:hover {
            .actions {
                display: block;
            }
        }
    }
    
    .actions {
        display: none; 
        position: absolute;
        right: -20px;
        top: -1px;
    }
}

.wcl-list + .wcl-form {
    margin-top: 25px; 
}

.wp-text {
    border: 0;
    padding: 0;
    display: block;
    width: 100%;
    resize: none;
}

.wp-media {
    background: @app-gray;
    border: 1px solid #E4E4E4;
    padding: 12px 15px;
    margin-top: 25px;
    text-align: center;
}

.wpb-actions {
    position: relative;
    background: @app-gray;
    margin: 0;
    padding: 13px 25px 10px;

    button {
        //position: absolute;
        //right: 20px;
        //top: -14px;
    }
}

.wall-attr-types(@color) {
    color: @color;
    
    &:hover {
        color: darken(@color, 5%);
    }
}


[data-wpba="image"] { .wall-attr-types(@m-green); }
[data-wpba="video"] { .wall-attr-types(@m-orange); }
[data-wpba="link"] { .wall-attr-types(@m-cyan); }
 
.wpba-attrs {
    & > ul {
        & > li {
            padding: 0;
            margin-right: 5px;

            & > a {
                display: block;
                width: 22px;

                & > i {
                    font-size: 20px;
                }
            } 
            
            &.active i {
                color: #333;
            }
        }
    } 
}

.wall-img-preview {
    text-align: center;
    margin: 0 0 20px;

    .wip-item {
        display: block;
        float: left;
        position: relative;
        overflow: hidden;
        border: 2px solid #fff;
        .bg-cover-inline();
        
        & > img { 
            display: none;
        }

        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ div {
            width: 50%;
            padding-bottom: 40%;
        }
        
        &:first-child:nth-last-child(3), 
        &:first-child:nth-last-child(3) ~ div,
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ div:not(:last-child),
        &:first-child:nth-last-child(5),
        &:first-child:nth-last-child(5) ~ div:not(:nth-last-of-type(-n+2)),
        &:first-child:nth-last-child(6),
        &:first-child:nth-last-child(6) ~ div,
        &:first-child:nth-last-child(7) ~ div:nth-last-of-type(-n+3) {
            width: 33.333333%;
            padding-bottom: 30%;
        }

        &:first-child:nth-last-child(5) ~ div:nth-last-of-type(-n+2) {
            width: 50%;
            padding-bottom: 40%;
        }
        
        &:first-child:nth-last-child(7),
        &:first-child:nth-last-child(7) ~ div:not(:nth-last-of-type(-n+3)),
        &:first-child:nth-last-child(n+8),
        &:first-child:nth-last-child(n+8) ~ div {
            width: 25%;
            padding-bottom: 22%;
        }

        &:only-child,
        &:first-child:nth-last-child(4) ~ div:nth-child(4) {
            width: 100%;
            padding-bottom: 50%;
        }
    }
}

.avatar-fullwidth {
    width: 100%;
    padding: 50%;
    border-radius: 50%;
    position: relative;
    background-color: white;
    background-position: center center;
    background-size: cover;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.card-left {
    padding-left: 15px;
    padding-right: 0;
    padding-top: 15px;

    >div {
        margin-bottom: 15px;
    }

    .rating.rl-star {
        text-align: center;
        .zmdi {
            font-size: 14px;
        }
    }

    .side-followers {
        text-align: center;
        h3, h4 {
            //color: @mae-lightest;
        }
        h5, h6 {
            //color: @mae-darker;
        }
    }

    .side-badge {
        text-align: center;
    }
}

.card-right {

}

.timeline-item {
    padding: 12px;
    min-height: 200px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}
.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height:20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line  {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}

.floating-action-button {
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 1;
}

.upload_pic {

    padding-top: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .upload-edit {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.38);
        text-align: center;
        padding: 10px 10px 11px;
        .transition(opacity);
        .transition-duration(250ms);

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }

        i {
            font-size: 18px;
            vertical-align: middle;
            margin-top: -3px;
        }

        @media (min-width: @screen-sm-min) {
            width: 100%;
            .opacity(0);

            i {
                margin-right: 4px;
            }
        }
    }
    &:hover {
        .upload-edit{
            .opacity(1);
        }
    }
}

.featured-product {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    margin-bottom: 24px;
}

.gold_seller {
    margin-bottom: 32px;
    .bg_gold_seller {
        //position: fixed;
        //width: 100%;
        //height: 350px;
        //top:0;
        //left:0;
        //z-index: -1;
    }

    .jumbotron {
        background: url('/img/bg_gold_seller.jpg') no-repeat center center;
        background-size: cover;
        margin-bottom: 0px;
        height: 350px;
        color: white;
        //text-shadow: black 0.3em 0.3em 0.3em;
    }
}

.post-type {
    //border-radius: 50%;
    padding: 4px;
    position: relative;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    .zmdi {
        //position: absolute;
        //top: 50%;
        //left: 50%;
        line-height: 100%;

        @media screen and (min-width: @screen-sm-min) {
            font-size: 36px;
            width: 36px;
            height: 36px;
            text-align: center;
            //margin-top: -30px;
            //margin-left: -30px;
        }

        @media screen and (max-width: @screen-sm-max) {
            width: 24px;
            height: 24px;
            //margin-top: -12px;
            //margin-left: -12px;
        }
    }
}

.pmop-message  {
    position: relative;
    display: inline-block;

    .dropdown-menu {
        padding: 5px 0 55px;
        left: -150px;
        width: 360px;
        height: 360px;
        top: -327px;
        .transform-origin(center);

        textarea {
            width: 100%;
            height: 305px;
            border: 0;
            resize: none;
            padding: 10px 19px;
        }

        button {
            bottom: 5px;
            left: 161px;
        }
    }
}